{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Tarifler | Yemek &amp; Tatlı Tarifleri</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'assets/img/favicons/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'assets/img/favicons/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'assets/img/favicons/favicon-16x16.png' %}"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'assets/img/favicons/favicon.ico' %}"
    />
    <link
      rel="manifest"
      href="{% static 'assets/img/favicons/manifest.json' %} "
    />
    <meta
      name="msapplication-TileImage"
      content="{% static 'assets/img/favicons/mstile-150x150.png' %} "
    />
    <meta name="theme-color" content="#ffffff" />

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet" />
  </head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav
        class="navbar navbar-expand-lg navbar-light bg-light fixed-top"
        data-navbar-on-scroll="data-navbar-on-scroll"
      >
        <div class="container">
          <a class="navbar-brand d-inline-flex" href="index.html"
            ><img
              class="d-inline-block"
              src="{% static 'assets/img/gallery/logo.svg' %} "
              alt="logo"
            /><span class="text-1000 fs-3 fw-bold ms-2 text-gradient"
              >Tarifler</span
            ></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"> </span>
          </button>
          <div
            class="collapse navbar-collapse border-top border-lg-0 my-2 mt-lg-0"
            id="navbarSupportedContent"
          >
            <form class="d-flex mt-4 mt-lg-2 ms-lg-auto ms-l-3">
              <button
                class="btn btn-white shadow-warning text-warning btn-sm"
                type="submit"
              >
                <i class="fas fa-user me-2"></i>Kayıt Ol
              </button>
            </form>
          </div>
        </div>
      </nav>

      <!-- Section: Design Block -->
      <section class="">
        <!-- Jumbotron -->
        <div class="px-4 py-5 px-md-5 text-center text-lg-start bg-primary">
          <div class="container">
            <div class="row gx-lg-5 align-items-center">
              <div class="col-lg-6 mb-5 mb-lg-0">
                <h1 class="my-5 display-3 fw-bold ls-tight">
                  Hoşgeldiniz! <br />
                  <span class="" style="color: #fff"
                    >Lezzetin onlarca tarifin doğru adresi...</span
                  >
                </h1>
              </div>

              <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card">
                  <div class="card-body py-5 px-md-5">
                    <form method="post" action=".">
                      {% csrf_token %}

                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <label class="form-label" for="form3Example1"
                              >Adınız</label
                            >
                            {{form.username}}
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <label class="form-label" id="basic-addon1"
                              >Email</label
                            >
                            {{form.email}}
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <label class="form-label" for="form3Example1"
                              >Sifre</label
                            >
                            {{form.password1}}
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <label class="form-label" id="basic-addon1"
                              >Tekrar sifre</label
                            >
                            {{form.password2}}
                          </div>
                        </div>
                      </div>
                      {% if form.errors or form.non_field_errors %}
                      <div>
                        {% for field in form %} {{field.errors}} {% endfor %}
                        {{form.non_field_errors}}
                      </div>
                      {% endif %}

                      <button class="btn btn-primary">Kaydol</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Jumbotron -->
      </section>
      <!-- Section: Design Block -->
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="../static/vendors/@popperjs/popper.min.js"></script>
    <script src="../static/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../static/vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="../static/vendors/fontawesome/all.min.js"></script>
    <script src="../static/assets/js/theme.js"></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&amp;display=swap"
      rel="stylesheet"
    />
  </body>
</html>
