{% extends "base.html" %} {% load static %} {% block content %}
<div class="row flex-center">
  <div class="col-md-7 col-lg-6 py-8 text-md-start">
    <div class="card">
      <div class="card-body" style="width: fit-content">
        <img
          class="img-fluid rounded-3 h-100"
          src="{{recipe.image.url}}"
          alt="..."
        />
        <h1 class="text-dark text-xl">{{recipe.name}}</h1>
        <a href="#"
          ><p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-person"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
              />
            </svg>
            {{recipe.created_by}}
          </p></a
        >
        <p id="post-date">{{recipe.created_at}}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body card-xl">
        <h3 class="text-1000 text-light">Gerekli malzemeler:</h3>
        {{recipe.materials|safe}}
        <h3 class="text-1000 text-light">Hazırlanışı:</h3>
        {{recipe.description|safe}}
      </div>
    </div>
  </div>
  {% if request.user == recipe.created_by %}
  <div class="d-grid d-center">
    <a
      class="btn btn-lg btn-danger border-3 mb-3"
      href="{% url 'recipes:edit' recipe.id %}"
      style="width: 60%; margin-left: 20%"
      role="button"
      >Duzenle</a
    >
    <a
      class="btn btn-lg btn-danger border-3 mb-3"
      href="{% url 'recipes:delete' recipe.id %}"
      style="width: 60%; margin-left: 20%"
      role="button"
      >Sil
    </a>
  </div>
  {% endif %}

  <div class="row my-4">
    <div class="col">
      <div class="product-reviews text-center">
        {% if rs == null %}
        <h2 class="bg-light ">Tarif henüz değerlendirme almadı.
        {% else %}
        {% for rs in comments %}
        <div class="single-review border">
          <div class="review-heading">
            <div>Yorum sahibi: {{ rs.user }}</div>
            <div>{{ rs.create_at}}</div>

            <div class="review-rating pull-right">
              <i class="fa {% if rs.rate < 1 %}far {% endif %}fa-star"></i>
              <i class="fa {% if rs.rate < 2 %}far {% endif %}fa-star"></i>
              <i class="fa {% if rs.rate < 3 %}far {% endif %}fa-star"></i>
              <i class="fa {% if rs.rate < 4 %}far {% endif %}fa-star"></i>
              <i class="fa {% if rs.rate < 5 %}far {% endif %}fa-star"></i>
            </div>
          </div>
          <div class="review-body">
            <p>{{ rs.content }}</p>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    {% if recipe.created_by != request.user %}
    <div class="col">
      <h4 class="text-uppercase">Tarifi Değerlendirin</h4>
      {% if messages %} {% for message in messages %}
      <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
      {% endfor %} {% endif %}
      <form
        class="review-form"
        action="/recipe/addcomment/{{ recipe.id }}"
        method="post"
      >
        {% csrf_token %}
        <div class="form-group mb-2">
            <strong class="text-uppercase">Yorum: </strong>

          <input
            name="content"
            class="form-control"
            type="text"
            placeholder="Yorumunuz"
          />
        </div>
        <div class="form-group mb-2">
          <div class="input-rating">
            <strong class="text-uppercase">Değerlendirme: </strong>
            <div class="stars col-md-3">
              <i class="fa fa-star"></i> Değerlendirme 5 üzerinden:
      <input type="number" class="form-control" id="rating" name="rating" min="0" max="5" step="1">

            </div>
          </div>
        </div>
        {% if user.id is not None %}
        <button class="btn btn-primary">Submit</button>
        {% else %}
        <p>You must be logged in to post a review.</p>
        {% endif %}
      </form>
    </div>
    {% endif %}
  </div>

  {% endblock %}
</div>
